p
{
	padding: 0;
	margin: 0;
	font-family: Circularstd, sans-serif;

}
body,html
{
	width: 100%;
	height: 100%;
}
ul
{
	position: relative;
	top: -10px;
}
.nav
{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background-color: white;
	box-shadow :0px 5px 12px -5px  blue;
	position: fixed;
	z-index: 999;
	display: inline-block;
	height: 75px;

}
.titolo
{
	font-size: 50px;
    text-align: center;
    margin:0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style: italic;
	margin-bottom: 20px;
}
.text_banner
{
	font-family: Circularstd, sans-serif ;
}
h1,h2,h3,h4,h5,h6
{
	font-family: Circularstd, sans-serif;
}
h2
{
	font-size: 23px;
}
.bottoni
{
	margin: 5px;
	padding: 12px;
	background-color: white;
	color: blue;
	font-size: 17px;
	font-family: Circularstd, sans-serif;
	font-style: none;
	border: solid;
	border-color:blue;
	border-radius: 12px;
}
.bottoni:hover
{
	color: white;
	background-color: blue;	
}
.bottoni_hide:hover
{
	color: white;
	background-color: blue;	
}
.input
{
	height: 70px;
	width: 300px;

}
.bottoni_hide
{
	margin-top: 50px;
	padding: 12px;
	background-color: white;
	color: blue;
	font-size: 17px;
	font-family: Circularstd, sans-serif;
	font-style: none;
	border: solid;
	border-color:blue;
	border-radius: 10px;
	float: left;
	display: none;
	position: relative;
    top: -3px;
}
.voci_hide
{
	color: blue;
	text-decoration:none;
	padding: 13px;
	border-radius: 15px;
	display: none;
}
.voci_hide:hover
{
	color: white;
	background-color: blue;
}
body
{
	margin: 0px;
	
}
.img_banner
{
	width: 221px;
	height: 228px;
	border-radius: 10px;

}
.img
{
	height: 85px;
	width: 85px;
	position: absolute;
	top: 5px;
	left: 10px;
}
.dati
{	
	padding: 10px;
	border-radius: 100px;
	border-style: none;
	border: solid black 3px;


}
.dati:hover
{
	width: 220px;
	transition: width 1s;

}
.banner
{
	margin: 15px;
	display: solid;
	flex-direction: column;
	padding: 15px;
	padding-top: 5px;
	background-color: white; 
	box-shadow:0px 5px 12px -5px  black;
	border-radius: 15px;
	height: 360px;
	width: 230px;
	float: left;
}
.banner:hover
{
	transform: translateY(-10px);
	transition: transform .4s;

}
.body_login
{
	text-align: center;
	
}
.hide
{
	display: none;
}
.modal
{
	display: none;
	z-index: 1000;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	position: fixed;
	padding-top: 100px;
	overflow-y: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	

}
.con_modal
{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 533px;
    height: 550px;
}
.close 
{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus 
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.menu li
{
	float: left;
	display: block;
	margin-right: 10px;
	font-family: Circularstd, sans-serif;
	font-size: 20px;
	margin-top: 20px;
}
*
{
	margin: 0;
	padding: 0;
}
.voci
{
	color: blue;
	text-decoration:none;
	padding: 13px;
	border-radius: 15px;
}
.voci:hover
{
	color: white;
	background-color: blue;
}
hr
{
	color: black;
	width: 800px;
	position: absolute;
	top: 175px;
	left: auto;
	right: auto;
	border: solid;
}
.cover
{
	position: absolute; 
	top: 94px;
	width: 100%;
	height: 30%;
	background-image: url("https://i.pinimg.com/originals/c6/22/46/c62246425d2c45d07ff2ad24ecd620cc.jpg");
	background-size: cover;
	background-position: center center;

}
.cover-opacita
{
	color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.cover2
{
	display: table;
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.cover_text
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}
.tre
{
	display: none;
	height: 10px;
	width: 50px;
	background-color: blue;
	margin-bottom: 5px;

}
.card
{
	display: flex;
	position: relative;
	flex-direction: row;
	top: 50%;
	width: 1450px;
	flex-flow: wrap;
	margin-left: auto;
	margin-right: auto;
}
.info
{

	position: absolute;
	top: 50%;
	width: 100%;
	margin-bottom: 200px;
	
}
.info_text
{
	position: relative;
	width: 80%;
	border-bottom: solid 1px black;
	border-top: solid 1px black;
	padding-top: 20px;
	padding-bottom: 20px;
}
@media only screen and (max-width: 1560px)
{
	.card
	{
		display: flex;
		position: relative;
		flex-direction: row;
		top: 50%;
		width: 1200px;
		flex-flow: wrap;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 1400px)
{
	.card
	{
		display: flex;
		position: relative;
		flex-direction: row;
		top: 50%;
		width: 870px;
		flex-flow: wrap;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 900px)
{
	.card
	{
		display: flex;
		position: relative;
		flex-direction: row;
		top: 50%;
		width: 580px;
		flex-flow: wrap;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 701px)
{
	.tre
	{
		display: block;
		height: 10px;
		width: 50px;
		background-color: blue;
		margin-bottom: 5px;
	}
	.voci
	{
		display: none;
		color: blue;
		text-decoration:none;
		padding: 13px;
		border-radius: 15px;
	}
	.voci_hide
	{
		color: blue;
		text-decoration:none;
		padding: 13px;
		border-radius: 15px;
		display: none;
	}
	.card
	{
		display: flex;
		position: relative;
		flex-direction: row;
		top: 50%;
		width: 580px;
		flex-flow: wrap;
		margin-left: auto;
		margin-right: auto;
	}
	.con_modal
	{
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 433px;
		height: 550px;
	}
	
	
}
@media only screen and (max-width: 607px)
{
	.card
	{
	    display: flex;
		position: relative;
		flex-direction: column;
		top: 50%;
		width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
	.con_modal
	{
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 390px;
		height: 550px;
	}
}